body {
  background-color: gray;
}

.jumbotron {
  text-align: center;
  color: plum;
}

.card {
  background-color: pink;
  text-align: center;
}

.form {
  text-align: center;
  line-height: 0.8cm;
}
